{% extends "layouts/base.html" %}
{% load static %}
{% load plotly_dash %}

{% block extrahead %}
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<style>
    .icon .svg-inline--fa{
        position: relative;
        color: #fff;
        opacity: 0.8;
        top: 11px;
    }
</style>
{% plotly_header %}
{% endblock extrahead %}

{% block content %}

<div class="container-fluid py-2">
    <div class="row">
      <div class="ps-4">
        <h3 class="mb-0 h4 font-weight-bolder" style="display: flex;">Dashboard
            <!-- <button id="grid-browser-print-btn" class="btn btn-primary" style="margin-left: auto;">Exportar Relatório</button> -->
        </h3>
        <p class="mb-4">
          <i>Tenha controle total e insights poderosos para potencializar seus negócios!</i><br>
          Explore nosso dashboard intuitivo e detalhado, desenvolvido para você gerenciar com excelência seus preços, monitorar o concorrentes, analisar indicadores-chave em tempo real e muito mais.<br>
          Tudo em um único lugar, com visualizações claras e ações estratégicas ao seu alcance. Transforme dados em decisões precisas e relações em resultados extraordinários!
        </p>
      </div>
    </div>

    {%plotly_direct name="Raw"%}
</div>

{% endblock %}

{% block extrafooter %}
{% plotly_footer %}
{% endblock extrafooter %}